APP_ENV=dev
APP_SECRET=change_me

DATABASE_URL="mysql://user:password@127.0.0.1:3306/ma_base?serverVersion=8.0.35&charset=utf8mb4"

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null

STRIPE_PUBLIC_KEY=pk_test_VOTRE_CLE_PUBLIQUE
STRIPE_SECRET_KEY=sk_test_VOTRE_CLE_SECRETE
